.statline {
  &::after {
    @apply bg-rb-cotton-seed;
    position: absolute;
    content: '';
    width: 1px;
    height: 40px;
    top: 50%;
    // right: -20px;
    right: 10px;
    transform: translateY(-50%);
    visibility: visible;
    @media (min-width: 768px) {
      visibility: visible;
      right: -63px;
    }
  }

  &:nth-child(2) {
    @media (min-width: 1024px) {
      min-width: 221px;
    }
  }

  &:nth-child(even) {
    &::after {
      visibility: hidden;
    }
  }

  @media (min-width: 1024px) {
    &:nth-child(even) {
      &::after {
        visibility: visible;
      }
    }

    &:last-child {
      &::after {
        visibility: hidden;
      }
    }
  }
}
